<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BU IT DEPT</title>
        <link rel="stylesheet" href="Views/CSS/desktop.css">
    </head>
    <body>
      <div id="body-container">
        <header>
          <div id="logo-container">
            <img src="https://www.bloomu.edu/sites/default/themes/bloom/logo.png" alt="">
          </div>

            <nav id="nav-bar">
                <ul>
                    <li><a href=""></a>hello</li>
                    <li><a href=""></a>everyone</li>
                    <li><a href=""></a>intelligence</li>
                    <li><a href=""></a>confirmation</li>
                </ul>
            </nav>
        </header>
        <main>
            <aside id="side-bar">
                <ul>
                    <li><a href="#"><!-- <?php echo placeholderA  ?> --></a>Fall</li>
                    <li><a href="#"><!-- <?php echo placeholderB ?> --></a>Autumn</li>
                    <li><a href="#"><!-- <?php echo placeholderC ?> --></a>Winter</li>
                    <li><a href="#"><!-- <?php echo placeholderD ?> --></a>Summer</li>
                </ul>
            </aside>

            <div id="main-content">

            </div>
        </main>
        <footer> &copy Standard Tech </footer>
      </div>
    </body>
</html>
