<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><img src="" alt=""></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div id="mainContent"></div>
            <aside>
                <ul>
                    <li><a href="#"><!-- <?php echo placeholderA  ?> --></a></li>
                    <li><a href="#"><!-- <?php echo placeholderB ?> --></a></li>
                    <li><a href="#"><!-- <?php echo placeholderC ?> --></a></li>
                    <li><a href="#"><!-- <?php echo placeholderD ?> --></a></li>
                </ul>
            </aside>
        </main>
        <footer> &copy Standard Tech </footer>
    </body>
</html>