<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BU-IT-DEPT</title>
        <link rel="stylesheet" href="../CSS/styles.css">
    </head>
    <body>
        <header>
            <h1>Select Your Viewing Preference</h1>
        </header>
        <main>
            <div id="container">
                <button id="desktop"><a href="#"></a>Desktop</button>
                <button id="mobile"><a href="#"></a>Mobile</button>
            </div>
        </main>
        <footer>
            <div id="footer">
              <p>Created by StandardTechnicalSolutions</p>
            </div>
        </footer>
        <script src="../JavaScript/app.js"></script>
    </body>
</html>
