<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bloomsburg IT-DEPT</title>
        
        <link rel="stylesheet" href="../CSS/hamburger.css">
    </head>
    <body>
        <!-- Hamburger menu-->
        <header id="accordion">
            <section id="item1">
                <img src="https://www.bloomu.edu/sites/default/themes/bloom/logo.png" alt="">
                <a href="#item1">
                    <h1> &#9776; </h1>
                </a>
                <div id="ulcontainer">
                    <ul>
                        <li><a>First Link</a></li>
                        <li><a>Second Link</a></li>
                        <li><a>Third Link</a></li>
                        <li><a>Fourth Link</a></li>
                    </ul>
                </div>
            </section>
        </header>

        <!-- Main content -->
        <main>
            <div id="main">
                <!-- <?php echo placeholderMobile; ?>  this will be a  tag-->
            </div>
        </main>

        <footer>
            <div id="footer">
                <!-- <?php echo placeholderMobileFooter; ?> this will be a tag  -->
            </div>
        </footer>

        <script src="../JavaScript/hamburger.js"></script>
    </body>
</html>