
form {
    margin-top: 3rem;
    height: 30%;
}


h2 {
    color: #FFFFFF;
}

form input  {
    align-self: center;
    display: block;
    margin: 0 auto 2rem auto;
    width: 40%;
    height: 20%;
}