/* ------------------------------- GENERAL -----------------------------------*/

body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #F4ECD9;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

#body-container {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  margin: 0;
  width: 100%;
  height: 10%;
  color: #fff;
  background-color: #70253C;
  font-size: 30px;
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#message {
  width: 100%;
  height: 5%;
  font-size: 30px;
  background-color: #F3D03E;
  font-weight: bold;
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 20px #808080;
}

/* ------------------------------- Buttons -----------------------------------*/

#button-container {
  width: 50%;
  height: 80%;
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#desktop-button {
  margin-right: 10%
}

#mobile-button {
  margin-left: 10%;
}

button {
  width: 80%;
  height: 30%;
  margin-bottom: 5%;
  color: #fff;
  background-color: #70253C;
  font-size: 45px;
  box-shadow: 5px 5px 5px #808080;
  cursor: pointer;
  transition: all 200ms ease-in; /* scale to original size */
  transform: scale(1);
}

button:first-child:after { /* hover icon */
  content: '💻';
  position: absolute;
  opacity: 0;
  top: 40%;
  right: -20px;
  transition: 0.5s;
}

button:last-child:after { /* hover icon */
  content: '📱';
  position: absolute;
  opacity: 0;
  top: 40%;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.5s ease;
}

button:first-child:hover:after { /* hover icon initial position */
  opacity: 1;
  right: 18%;
}

button:last-child:hover:after { /* hover icon initial position */
  opacity: 1;
  right: 25%;
}

/* ------------------------------- Footer ------------------------------------*/

footer {
  margin: 0;
  width: 100%;
  height: 10%;
  font-size: 25px;
  font-weight: bold;
  background-color: #6F263D;
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footer-link {
  position: relative;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#footer-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#footer-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
